p {
    font-size: 1.3rem;
    width: 80%;
    text-align: center;
    margin: 3rem auto;
}

h1 {
    display: block;
    font-size: 5rem;
    margin: 5rem auto !important;
    text-align: center;
}

button {
    margin-bottom: 2rem !important;
}

.icon {
    width: 15%;
    max-width: 180px;
    position: absolute;
}

.icon-right {
    top: 30px;
    right: 2%;
    transform: rotate(20deg);
    z-index: -1;
}

.icon-left {
    top: 200px;
    left: 2%;
    transform: rotate(-25deg);
    z-index: -1;
}
